USE [master]
GO
/****** Object:  Database [Config5]    Script Date: 1/17/2024 9:06:09 AM ******/
/*CREATE DATABASE [Config5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Config5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THUSHARA\MSSQL\DATA\Config5.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Config5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.THUSHARA\MSSQL\DATA\Config5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Config5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Config5]
GO
/****** Object:  Table [dbo].[AESCommonSettings]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AESCommonSettings](
	[Setting] [nvarchar](100) NOT NULL,
	[Value] [bit] NOT NULL,
	[Data] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AESCommonSettings] PRIMARY KEY CLUSTERED 
(
	[Setting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementDefaultWorkingHours]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementDefaultWorkingHours](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgreementID] [nvarchar](150) NOT NULL,
	[Day] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementDefaultWorkingHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementInfo]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementInfo](
	[AgreementID] [nvarchar](150) NOT NULL,
	[TenantID] [nvarchar](150) NULL,
	[AgreementUploadPath] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[SignedDate] [date] NULL,
	[BillingAddress] [nvarchar](255) NULL,
	[LatePayment] [bit] NULL,
	[GracePeriod] [int] NULL,
	[PaymentTerm] [nvarchar](150) NOT NULL,
	[EnableTax] [bit] NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementInfo] PRIMARY KEY CLUSTERED 
(
	[AgreementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementRates]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementRates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgreementID] [nvarchar](150) NOT NULL,
	[Service] [nvarchar](150) NOT NULL,
	[Rate] [nvarchar](150) NOT NULL,
	[RateType] [nvarchar](150) NULL,
	[UseGlobalValue] [bit] NULL,
	[NormalValue] [int] NULL,
	[ExtendedValue] [int] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementServices]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementServices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgreementID] [nvarchar](150) NOT NULL,
	[Service] [nvarchar](150) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementTaxes]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementTaxes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgreementID] [nvarchar](150) NOT NULL,
	[Tax] [nvarchar](150) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementTaxes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgreementUnits]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgreementUnits](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AgreementID] [nvarchar](150) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_AgreementUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonSettings]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonSettings](
	[Setting] [nvarchar](100) NOT NULL,
	[Value] [bit] NOT NULL,
	[Data] [nvarchar](max) NULL,
	[Description] [nvarchar](200) NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_CommonSettings] PRIMARY KEY CLUSTERED 
(
	[Setting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlTags]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlTags](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Tag] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_ControlTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapBuilding]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapBuilding](
	[BuildingID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapBuilding] PRIMARY KEY CLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapLevel]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapLevel](
	[LevelID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[BuildingID] [nvarchar](100) NOT NULL,
	[ParentID] [nvarchar](100) NULL,
	[Icon] [nvarchar](20) NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapLevel] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnit]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnit](
	[UnitID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ParentLevelID] [nvarchar](100) NOT NULL,
	[HasDefaultWorkingHours] [bit] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnitControlTagMapping]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnitControlTagMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[UnitName] [nvarchar](200) NULL,
	[ControlTag] [varchar](255) NOT NULL,
	[ExtensionReady] [bit] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnitControlTagMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnitMeterMapping]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnitMeterMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[UnitName] [nvarchar](200) NULL,
	[MeterID] [nvarchar](150) NOT NULL,
	[MeterName] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnitMeterMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnitTenantMapping]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnitTenantMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[TenantID] [nvarchar](150) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnitTenantMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnitUserMapping]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnitUserMapping](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnitUserMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMapUnitWorkingHours]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMapUnitWorkingHours](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitID] [nvarchar](100) NOT NULL,
	[Day] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LocationMapUnitWorkingHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataDefaultOfficeHours]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataDefaultOfficeHours](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](20) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataDefaultOfficeHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataHolidays]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataHolidays](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataHolidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataMeters]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataMeters](
	[MeterID] [nvarchar](150) NOT NULL,
	[MeterName] [nvarchar](255) NOT NULL,
	[ServiceType] [nvarchar](150) NOT NULL,
	[MeterType] [nvarchar](150) NULL,
	[MeterTag] [nvarchar](150) NULL,
	[MaxValue] [float] NOT NULL,
	[MeterUnit] [nvarchar](20) NOT NULL,
	[Factor] [float] NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataMeters] PRIMARY KEY CLUSTERED 
(
	[MeterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataPaymentTerms]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataPaymentTerms](
	[PaymentTermID] [nvarchar](150) NOT NULL,
	[PaymentTerm] [nvarchar](150) NOT NULL,
	[DefaultCreditPeriod] [int] NULL,
	[DefaultLatePeriod] [int] NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataPaymentTerms] PRIMARY KEY CLUSTERED 
(
	[PaymentTermID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataRateTypes]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataRateTypes](
	[RateID] [nvarchar](150) NOT NULL,
	[RateCategory] [nvarchar](150) NOT NULL,
	[RateType] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ServiceType] [nvarchar](150) NOT NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataRateTypes] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataRateTypeValues]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataRateTypeValues](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Rate] [nvarchar](150) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[NormalValue] [float] NOT NULL,
	[ExtendedValue] [float] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataRateTypeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataServices]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataServices](
	[ServiceID] [nvarchar](150) NOT NULL,
	[ServiceType] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](150) NOT NULL,
	[UnitConversionFactor] [float] NOT NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataServices] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataTaxTypes]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataTaxTypes](
	[TaxID] [nvarchar](150) NOT NULL,
	[TaxCategory] [nvarchar](150) NOT NULL,
	[TaxType] [nvarchar](20) NOT NULL,
	[Rank] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataTaxTypes] PRIMARY KEY CLUSTERED 
(
	[TaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterDataTaxTypeValues]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterDataTaxTypeValues](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Tax] [nvarchar](150) NOT NULL,
	[EffectiveDate] [date] NOT NULL,
	[Value] [float] NOT NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_MasterDataTaxTypeValues] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TenantInfo]    Script Date: 1/17/2024 9:06:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TenantInfo](
	[TenantID] [nvarchar](150) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Status] [bit] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[DeletedBy] [bigint] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedAT] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Attention] [nvarchar](150) NULL,
 CONSTRAINT [PK_TenantInfo] PRIMARY KEY CLUSTERED 
(
	[TenantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AESCommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'EEA', 1, NULL, N'Edit extension approve email notification', 2214, CAST(N'2023-11-27T07:47:50.263' AS DateTime), CAST(N'2023-12-06T17:33:59.063' AS DateTime))
INSERT [dbo].[AESCommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'EEC', 0, NULL, N'Edit extension create email notification', 2214, CAST(N'2023-11-27T07:47:50.263' AS DateTime), CAST(N'2023-12-06T17:13:08.493' AS DateTime))
INSERT [dbo].[AESCommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'EEE', 0, NULL, N'Edit extension expire email notification', 2214, CAST(N'2023-11-27T07:47:50.263' AS DateTime), CAST(N'2023-12-01T12:50:25.417' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[AgreementDefaultWorkingHours] ON 

INSERT [dbo].[AgreementDefaultWorkingHours] ([Id], [AgreementID], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'AG0010', N'Monday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.710' AS DateTime), CAST(N'2023-11-27T13:42:23.710' AS DateTime))
INSERT [dbo].[AgreementDefaultWorkingHours] ([Id], [AgreementID], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'AG0010', N'Tuesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.763' AS DateTime), CAST(N'2023-11-27T13:42:23.763' AS DateTime))
INSERT [dbo].[AgreementDefaultWorkingHours] ([Id], [AgreementID], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'AG0010', N'Wednesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.763' AS DateTime), CAST(N'2023-11-27T13:42:23.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[AgreementDefaultWorkingHours] OFF
GO
SET IDENTITY_INSERT [dbo].[AgreementRates] ON 

INSERT [dbo].[AgreementRates] ([Id], [AgreementID], [Service], [Rate], [RateType], [UseGlobalValue], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'AG0010', N'S0010', N'R0010', N'Fixed Rate', 1, 0, 0, 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.777' AS DateTime), CAST(N'2023-11-27T13:42:23.777' AS DateTime))
INSERT [dbo].[AgreementRates] ([Id], [AgreementID], [Service], [Rate], [RateType], [UseGlobalValue], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'AG0010', N'S0011', N'R0011', N'Flat Rate', 0, 100, 0, 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.797' AS DateTime), CAST(N'2023-11-27T13:42:23.797' AS DateTime))
INSERT [dbo].[AgreementRates] ([Id], [AgreementID], [Service], [Rate], [RateType], [UseGlobalValue], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'AG0010', N'S0012', N'R0012', N'Fixed Rate', 0, 15, 20, 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.797' AS DateTime), CAST(N'2023-11-27T13:42:23.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[AgreementRates] OFF
GO
SET IDENTITY_INSERT [dbo].[AgreementServices] ON 

INSERT [dbo].[AgreementServices] ([Id], [AgreementID], [Service], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'AG0010', N'S0010', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.767' AS DateTime), CAST(N'2023-11-27T13:42:23.767' AS DateTime))
INSERT [dbo].[AgreementServices] ([Id], [AgreementID], [Service], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'AG0010', N'S0011', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.777' AS DateTime), CAST(N'2023-11-27T13:42:23.777' AS DateTime))
INSERT [dbo].[AgreementServices] ([Id], [AgreementID], [Service], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'AG0010', N'S0012', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.777' AS DateTime), CAST(N'2023-11-27T13:42:23.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[AgreementServices] OFF
GO
SET IDENTITY_INSERT [dbo].[AgreementTaxes] ON 

INSERT [dbo].[AgreementTaxes] ([Id], [AgreementID], [Tax], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'AG0010', N'TT01', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.797' AS DateTime), CAST(N'2023-11-27T13:42:23.797' AS DateTime))
INSERT [dbo].[AgreementTaxes] ([Id], [AgreementID], [Tax], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'AG0011', N'TT01', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:59:23.427' AS DateTime), CAST(N'2023-11-27T13:59:23.427' AS DateTime))
INSERT [dbo].[AgreementTaxes] ([Id], [AgreementID], [Tax], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (10002, N'A2023110009', N'TT01', 2214, 2214, NULL, NULL, CAST(N'2023-11-28T15:19:28.997' AS DateTime), CAST(N'2023-11-28T15:19:28.997' AS DateTime))
SET IDENTITY_INSERT [dbo].[AgreementTaxes] OFF
GO
SET IDENTITY_INSERT [dbo].[AgreementUnits] ON 

INSERT [dbo].[AgreementUnits] ([Id], [AgreementID], [UnitID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'AG0010', N'ET-L03-L03-T1', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:42:23.810' AS DateTime), CAST(N'2023-11-27T13:42:23.810' AS DateTime))
INSERT [dbo].[AgreementUnits] ([Id], [AgreementID], [UnitID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'AG0011', N'ET-L03-L03-T1', 2214, 2214, NULL, NULL, CAST(N'2023-11-27T13:59:23.440' AS DateTime), CAST(N'2023-11-27T13:59:23.440' AS DateTime))
INSERT [dbo].[AgreementUnits] ([Id], [AgreementID], [UnitID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (10002, N'A2023110009', N'ET-L03-L03-T1', 2214, 2214, NULL, NULL, CAST(N'2023-11-28T15:19:29.007' AS DateTime), CAST(N'2023-11-28T15:19:29.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[AgreementUnits] OFF
GO
INSERT [dbo].[CommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'AGR_NO', 0, N'13', N'Number to generate Agreement ID', 2214, NULL, CAST(N'2023-11-29T09:03:34.783' AS DateTime))
INSERT [dbo].[CommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'DT_DATE', 0, N'MM/DD/YY', N'Date Format', 2214, CAST(N'2023-11-27T07:47:50.267' AS DateTime), CAST(N'2023-12-05T11:16:47.197' AS DateTime))
INSERT [dbo].[CommonSettings] ([Setting], [Value], [Data], [Description], [UpdatedBy], [CreatedAt], [UpdatedAt]) VALUES (N'DT_TIME', 0, N'12', N'Time Format', 2214, CAST(N'2023-11-27T07:47:50.267' AS DateTime), CAST(N'2023-12-05T11:16:47.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ControlTags] ON 

INSERT [dbo].[ControlTags] ([Id], [Tag], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'BMS.C.AC.B03.FCU.3.CTRL', N'Common Air Conditioning C-FCU-B3-3 ', -1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ControlTags] ([Id], [Tag], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'BMS.C.AC.B04.FCU.2.CTRL', N'Common Air Conditioning C-FCU-B4-2 ', -1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ControlTags] ([Id], [Tag], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'BMS.C.AC.B03.FCU.2.CTRL', N'Common Air Conditioning C-FCU-B3-2 ', -1, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ControlTags] OFF
GO
INSERT [dbo].[LocationMapBuilding] ([BuildingID], [Name], [Address], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'BLD-ET', N'East Tower', N'Singapore', -1, 2000, NULL, NULL, NULL, CAST(N'2023-12-14T14:04:23.637' AS DateTime))
INSERT [dbo].[LocationMapBuilding] ([BuildingID], [Name], [Address], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'BLD-RC', N'Retail/Common', N'Singapore', -1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationMapBuilding] ([BuildingID], [Name], [Address], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'BLD-WT', N'West Tower', N'Singapore', -1, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[LocationMapLevel] ([LevelID], [Name], [BuildingID], [ParentID], [Icon], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'ASFAFASFSF', N'fdsfsdsd', N'TEST004', NULL, N'bi-buildings-fill', 2214, 2214, 2214, CAST(N'2023-12-13T14:12:12.117' AS DateTime), CAST(N'2023-12-13T14:11:35.037' AS DateTime), CAST(N'2023-12-13T14:11:35.037' AS DateTime))
INSERT [dbo].[LocationMapLevel] ([LevelID], [Name], [BuildingID], [ParentID], [Icon], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'BLD-ET-L03', N'L03', N'BLD-ET', NULL, N'bi-house-fill', -1, 2214, NULL, NULL, NULL, CAST(N'2023-12-11T12:46:04.500' AS DateTime))
INSERT [dbo].[LocationMapLevel] ([LevelID], [Name], [BuildingID], [ParentID], [Icon], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'BLD-ET-L05', N'L05', N'BLD-ET', NULL, N'bi-building-fill', -1, 2214, NULL, NULL, NULL, CAST(N'2023-12-11T13:50:15.887' AS DateTime))
GO
INSERT [dbo].[LocationMapUnit] ([UnitID], [Name], [ParentLevelID], [HasDefaultWorkingHours], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'aaa', N'aaa', N'T004', 0, 2214, 2214, 2214, CAST(N'2023-12-13T16:09:32.520' AS DateTime), CAST(N'2023-12-13T16:02:13.387' AS DateTime), CAST(N'2023-12-13T16:02:13.387' AS DateTime))
INSERT [dbo].[LocationMapUnit] ([UnitID], [Name], [ParentLevelID], [HasDefaultWorkingHours], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'bbb', N'bbb', N'T004', 0, 2214, 2214, NULL, NULL, CAST(N'2023-12-13T16:09:23.643' AS DateTime), CAST(N'2023-12-13T16:09:23.643' AS DateTime))
INSERT [dbo].[LocationMapUnit] ([UnitID], [Name], [ParentLevelID], [HasDefaultWorkingHours], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'ccc', N'cccc', N'T004', 0, 2214, 2214, 2214, CAST(N'2023-12-13T16:12:11.010' AS DateTime), CAST(N'2023-12-13T16:11:53.107' AS DateTime), CAST(N'2023-12-13T16:12:06.153' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitControlTagMapping] ON 

INSERT [dbo].[LocationMapUnitControlTagMapping] ([Id], [UnitID], [UnitName], [ControlTag], [ExtensionReady], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (512, N'RC-B03-B3-T1', N'Facebook', N'BMS.C.AC.B03.FCU.3.CTRL', 1, N'Common Air Conditioning C-FCU-B3-3 ', -1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationMapUnitControlTagMapping] ([Id], [UnitID], [UnitName], [ControlTag], [ExtensionReady], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (513, N'RC-B04-B4-T1', N'B4-T1', N'BMS.C.AC.B04.FCU.2.CTRL', 1, N'Common Air Conditioning C-FCU-B4-2 ', -1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationMapUnitControlTagMapping] ([Id], [UnitID], [UnitName], [ControlTag], [ExtensionReady], [Description], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (514, N'RC-B03-B3-T1', N'B3-T1', N'BMS.C.AC.B03.FCU.2.CTRL', 1, N'Common Air Conditioning C-FCU-B3-2 ', -1, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitControlTagMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitMeterMapping] ON 

INSERT [dbo].[LocationMapUnitMeterMapping] ([Id], [UnitID], [UnitName], [MeterID], [MeterName], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (20008, N'ET-L03-L03-T1', N'L03-T1', N'M1-1', N'Meter 1', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationMapUnitMeterMapping] ([Id], [UnitID], [UnitName], [MeterID], [MeterName], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (20009, N'ET-L03-L03-T1', N'L03-T1', N'M2-2', N'Meter 2', 1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[LocationMapUnitMeterMapping] ([Id], [UnitID], [UnitName], [MeterID], [MeterName], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (20010, N'ET-L05-L05-T1', N'L05-T1', N'M3-3', N'Meter 3', 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LocationMapUnitMeterMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitTenantMapping] ON 

INSERT [dbo].[LocationMapUnitTenantMapping] ([Id], [UnitID], [TenantID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'ET-L03-L03-T1', N'T001-UC', 1000, NULL, 2214, CAST(N'2023-11-15T14:26:14.007' AS DateTime), NULL, NULL)
INSERT [dbo].[LocationMapUnitTenantMapping] ([Id], [UnitID], [TenantID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'ET-L05-L05-T1', N'T002-TR', 2214, 2214, 2214, CAST(N'2023-11-15T14:26:28.560' AS DateTime), CAST(N'2023-11-15T14:25:59.887' AS DateTime), CAST(N'2023-11-15T14:25:59.887' AS DateTime))
INSERT [dbo].[LocationMapUnitTenantMapping] ([Id], [UnitID], [TenantID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'ET-L03-L03-T1', N'T001-UC', 2214, 2214, 2214, CAST(N'2023-11-15T14:27:05.670' AS DateTime), CAST(N'2023-11-15T14:26:14.027' AS DateTime), CAST(N'2023-11-15T14:26:14.027' AS DateTime))
SET IDENTITY_INSERT [dbo].[LocationMapUnitTenantMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitUserMapping] ON 

INSERT [dbo].[LocationMapUnitUserMapping] ([Id], [UnitID], [UserID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'ET-L03-L03-T1', 2215, 2214, 2214, 2214, CAST(N'2023-12-06T14:40:16.323' AS DateTime), CAST(N'2023-11-30T16:25:39.290' AS DateTime), CAST(N'2023-11-30T16:25:39.290' AS DateTime))
INSERT [dbo].[LocationMapUnitUserMapping] ([Id], [UnitID], [UserID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'ET-L05-L05-T1', 2215, 2214, 2214, 2214, CAST(N'2023-12-06T14:40:16.323' AS DateTime), CAST(N'2023-11-30T16:25:39.293' AS DateTime), CAST(N'2023-11-30T16:25:39.293' AS DateTime))
INSERT [dbo].[LocationMapUnitUserMapping] ([Id], [UnitID], [UserID], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'ET-L03-L03-T1', 2215, 2214, 2214, 2214, CAST(N'2023-11-30T16:28:40.200' AS DateTime), CAST(N'2023-11-30T16:27:36.360' AS DateTime), CAST(N'2023-11-30T16:27:36.360' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LocationMapUnitUserMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterDataDefaultOfficeHours] ON 

INSERT [dbo].[MasterDataDefaultOfficeHours] ([Id], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'Monday', CAST(N'08:00:00' AS Time), CAST(N'16:58:00' AS Time), NULL, 2214, NULL, NULL, CAST(N'2023-11-27T07:47:50.267' AS DateTime), CAST(N'2023-12-13T09:15:57.047' AS DateTime))
INSERT [dbo].[MasterDataDefaultOfficeHours] ([Id], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'Tuesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), NULL, NULL, NULL, NULL, CAST(N'2023-11-27T07:47:50.270' AS DateTime), NULL)
INSERT [dbo].[MasterDataDefaultOfficeHours] ([Id], [Day], [StartTime], [EndTime], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'Wednesday', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), NULL, NULL, NULL, NULL, CAST(N'2023-11-27T07:47:50.270' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[MasterDataDefaultOfficeHours] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterDataHolidays] ON 

INSERT [dbo].[MasterDataHolidays] ([Id], [Date], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, CAST(N'2023-12-24' AS Date), N'Christmas Eve', 1, 3, 3, 3, CAST(N'2023-11-03T14:49:30.690' AS DateTime), CAST(N'2023-11-03T14:48:57.000' AS DateTime), CAST(N'2023-11-03T14:48:57.000' AS DateTime))
INSERT [dbo].[MasterDataHolidays] ([Id], [Date], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, CAST(N'2023-12-25' AS Date), N'Christmas ', 1, 3, 3, NULL, NULL, CAST(N'2023-11-03T15:18:34.003' AS DateTime), CAST(N'2023-11-03T15:18:34.003' AS DateTime))
INSERT [dbo].[MasterDataHolidays] ([Id], [Date], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, CAST(N'2023-12-24' AS Date), N'Christmas Eve', 0, 3, 2214, NULL, NULL, CAST(N'2023-11-03T15:19:46.690' AS DateTime), CAST(N'2023-12-01T15:44:47.093' AS DateTime))
SET IDENTITY_INSERT [dbo].[MasterDataHolidays] OFF
GO
INSERT [dbo].[MasterDataMeters] ([MeterID], [MeterName], [ServiceType], [MeterType], [MeterTag], [MaxValue], [MeterUnit], [Factor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'M1-1', N'Meter 1', N'S0011', N'Auto', N'M1', 354, N'L', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MasterDataMeters] ([MeterID], [MeterName], [ServiceType], [MeterType], [MeterTag], [MaxValue], [MeterUnit], [Factor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'M2-2', N'Meter 2', N'S0010', N'Manual', N'M2', 676756, N'kWh', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MasterDataMeters] ([MeterID], [MeterName], [ServiceType], [MeterType], [MeterTag], [MaxValue], [MeterUnit], [Factor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'M3-3', N'Meter 3', N'S0012', N'Manual', N'M3', 242, N'BTU', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[MasterDataPaymentTerms] ([PaymentTermID], [PaymentTerm], [DefaultCreditPeriod], [DefaultLatePeriod], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'PT10', N'Payment Term 010', 1, 1, 1, 2214, 2214, 2214, CAST(N'2023-11-23T08:01:19.897' AS DateTime), CAST(N'2023-11-23T08:00:04.197' AS DateTime), CAST(N'2023-11-23T08:00:04.197' AS DateTime))
INSERT [dbo].[MasterDataPaymentTerms] ([PaymentTermID], [PaymentTerm], [DefaultCreditPeriod], [DefaultLatePeriod], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'PT11', N'Payment Term 011', 1, 1, 1, 2214, 2214, 2214, CAST(N'2023-11-23T08:01:19.897' AS DateTime), CAST(N'2023-11-23T08:01:07.573' AS DateTime), CAST(N'2023-11-23T08:01:07.573' AS DateTime))
INSERT [dbo].[MasterDataPaymentTerms] ([PaymentTermID], [PaymentTerm], [DefaultCreditPeriod], [DefaultLatePeriod], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'PT15', N'Payment Term 015', 1, 1, 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-23T08:01:34.300' AS DateTime), CAST(N'2023-11-23T08:01:34.300' AS DateTime))
GO
INSERT [dbo].[MasterDataRateTypes] ([RateID], [RateCategory], [RateType], [Description], [ServiceType], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'R0010', N'Rate Category 1 ', N'Fixed Rate', N'Rate for Electricity usage', N'S0010', 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-24T08:31:08.223' AS DateTime), CAST(N'2023-11-24T08:31:08.223' AS DateTime))
INSERT [dbo].[MasterDataRateTypes] ([RateID], [RateCategory], [RateType], [Description], [ServiceType], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'R0011', N'Rate Category 2', N'Flat Rate', N'Rate for Water usage', N'S0011', 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-24T08:31:36.333' AS DateTime), CAST(N'2023-11-24T08:31:36.333' AS DateTime))
INSERT [dbo].[MasterDataRateTypes] ([RateID], [RateCategory], [RateType], [Description], [ServiceType], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'R0012', N'Rate Category 3', N'Fixed Rate', N'Rate for AC usage', N'S0012', 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-24T08:50:49.920' AS DateTime), CAST(N'2023-11-24T08:50:49.920' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MasterDataRateTypeValues] ON 

INSERT [dbo].[MasterDataRateTypeValues] ([Id], [Rate], [EffectiveDate], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'R04', CAST(N'2023-11-17' AS Date), 1, 0, 2000, 2000, NULL, NULL, CAST(N'2023-11-09T09:16:19.123' AS DateTime), CAST(N'2023-11-09T09:16:19.123' AS DateTime))
INSERT [dbo].[MasterDataRateTypeValues] ([Id], [Rate], [EffectiveDate], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'R10', CAST(N'2023-11-16' AS Date), 1, 0, 2000, 2000, 2214, CAST(N'2023-11-24T08:20:15.977' AS DateTime), CAST(N'2023-11-09T11:44:06.933' AS DateTime), CAST(N'2023-11-09T11:44:06.933' AS DateTime))
INSERT [dbo].[MasterDataRateTypeValues] ([Id], [Rate], [EffectiveDate], [NormalValue], [ExtendedValue], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (4, N'R11', CAST(N'2023-11-29' AS Date), 199, 0, 2000, 2000, 2214, CAST(N'2023-11-24T08:20:15.980' AS DateTime), CAST(N'2023-11-09T12:05:50.503' AS DateTime), CAST(N'2023-11-09T12:05:50.503' AS DateTime))
SET IDENTITY_INSERT [dbo].[MasterDataRateTypeValues] OFF
GO
INSERT [dbo].[MasterDataServices] ([ServiceID], [ServiceType], [Unit], [UnitConversionFactor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'S0010', N'Electricity', N'kWh', 1, 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-23T08:51:48.380' AS DateTime), CAST(N'2023-11-23T08:51:48.380' AS DateTime))
INSERT [dbo].[MasterDataServices] ([ServiceID], [ServiceType], [Unit], [UnitConversionFactor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'S0011', N'Chilled Water', N'L', 1, 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-23T08:52:04.783' AS DateTime), CAST(N'2023-11-23T08:52:04.783' AS DateTime))
INSERT [dbo].[MasterDataServices] ([ServiceID], [ServiceType], [Unit], [UnitConversionFactor], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'S0012', N'AC', N'RTh', 1.1, 1, 2214, 2214, NULL, NULL, CAST(N'2023-11-23T08:52:18.700' AS DateTime), CAST(N'2023-11-23T08:52:18.700' AS DateTime))
GO
INSERT [dbo].[MasterDataTaxTypes] ([TaxID], [TaxCategory], [TaxType], [Rank], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'TT01', N'SGT', N'Flat', 0, N'Tax for Services & Goods', 1, 2000, 2000, NULL, NULL, CAST(N'2023-11-10T11:01:46.183' AS DateTime), CAST(N'2023-11-10T11:01:46.183' AS DateTime))
INSERT [dbo].[MasterDataTaxTypes] ([TaxID], [TaxCategory], [TaxType], [Rank], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'TT02', N'Tax Category 01', N'Fixed', 2, N'Admin fee', 1, 2000, 2214, NULL, NULL, CAST(N'2023-11-10T16:07:56.530' AS DateTime), CAST(N'2023-11-13T12:42:11.183' AS DateTime))
INSERT [dbo].[MasterDataTaxTypes] ([TaxID], [TaxCategory], [TaxType], [Rank], [Description], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (N'TT03', N'Tax Category 03', N'Fixed', 3, N'Tax for ........', 1, 2000, 2000, 3, CAST(N'2023-11-10T16:49:50.120' AS DateTime), CAST(N'2023-11-10T16:26:39.003' AS DateTime), CAST(N'2023-11-10T16:45:30.770' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MasterDataTaxTypeValues] ON 

INSERT [dbo].[MasterDataTaxTypeValues] ([Id], [Tax], [EffectiveDate], [Value], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (1, N'TT01', CAST(N'2023-11-01' AS Date), 100, 2000, 2000, NULL, NULL, CAST(N'2023-11-10T11:01:46.423' AS DateTime), CAST(N'2023-11-10T11:01:46.423' AS DateTime))
INSERT [dbo].[MasterDataTaxTypeValues] ([Id], [Tax], [EffectiveDate], [Value], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (2, N'TT02', CAST(N'2023-11-01' AS Date), 1.1, 2000, 2000, NULL, NULL, CAST(N'2023-11-10T16:07:56.580' AS DateTime), CAST(N'2023-11-10T16:07:56.580' AS DateTime))
INSERT [dbo].[MasterDataTaxTypeValues] ([Id], [Tax], [EffectiveDate], [Value], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt]) VALUES (3, N'TT03', CAST(N'2023-11-02' AS Date), 1.1, 2000, 2000, NULL, NULL, CAST(N'2023-11-10T16:26:39.030' AS DateTime), CAST(N'2023-11-10T16:26:39.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[MasterDataTaxTypeValues] OFF
GO
INSERT [dbo].[TenantInfo] ([TenantID], [Name], [Email], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt], [Attention]) VALUES (N'T001-UC', N'Upn Corridor', NULL, 1, -1, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TenantInfo] ([TenantID], [Name], [Email], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt], [Attention]) VALUES (N'T001-XX', N'Tenant 04', N'tenant4x@email.com', 1, 2214, 2214, 2214, CAST(N'2023-11-13T10:00:11.903' AS DateTime), CAST(N'2023-11-13T09:59:39.247' AS DateTime), CAST(N'2023-11-13T10:00:06.887' AS DateTime), NULL)
INSERT [dbo].[TenantInfo] ([TenantID], [Name], [Email], [Status], [CreatedBy], [UpdatedBy], [DeletedBy], [DeletedAt], [CreatedAT], [UpdatedAt], [Attention]) VALUES (N'T002-TR', N'Transformer Rm', NULL, 1, -1, NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AESCommo__81E7DFFD7769E556]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[AESCommonSettings] ADD UNIQUE NONCLUSTERED 
(
	[Setting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CommonSe__81E7DFFD003D9950]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[CommonSettings] ADD UNIQUE NONCLUSTERED 
(
	[Setting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ControlT__C4516413EF0D70D1]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[ControlTags] ADD UNIQUE NONCLUSTERED 
(
	[Tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__5463CDE50569CB39]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[LocationMapBuilding] ADD UNIQUE NONCLUSTERED 
(
	[BuildingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__09F03C0723457F35]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[LocationMapLevel] ADD UNIQUE NONCLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Location__44F5EC944EF5F748]    Script Date: 1/17/2024 9:06:09 AM ******/
ALTER TABLE [dbo].[LocationMapUnit] ADD  CONSTRAINT [UQ__Location__44F5EC944EF5F748] UNIQUE NONCLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AESCommonSettings] ADD  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[AgreementInfo] ADD  CONSTRAINT [DF__Agreement__LateP__59FA5E80]  DEFAULT ((0)) FOR [LatePayment]
GO
ALTER TABLE [dbo].[AgreementInfo] ADD  CONSTRAINT [DF__Agreement__Enabl__5AEE82B9]  DEFAULT ((1)) FOR [EnableTax]
GO
ALTER TABLE [dbo].[AgreementInfo] ADD  CONSTRAINT [DF__Agreement__Statu__5BE2A6F2]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[AgreementRates] ADD  DEFAULT ((0)) FOR [UseGlobalValue]
GO
ALTER TABLE [dbo].[CommonSettings] ADD  DEFAULT ((0)) FOR [Value]
GO
ALTER TABLE [dbo].[LocationMapUnit] ADD  CONSTRAINT [DF_LocationMapUnit_HasDefaultWorkingHours]  DEFAULT ((0)) FOR [HasDefaultWorkingHours]
GO
ALTER TABLE [dbo].[LocationMapUnitControlTagMapping] ADD  DEFAULT ((0)) FOR [ExtensionReady]
GO
ALTER TABLE [dbo].[LocationMapUnitMeterMapping] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataHolidays] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataMeters] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataPaymentTerms] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataRateTypes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataServices] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MasterDataTaxTypes] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TenantInfo] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[AgreementDefaultWorkingHours]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Agree__07C12930] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[AgreementInfo] ([AgreementID])
GO
ALTER TABLE [dbo].[AgreementDefaultWorkingHours] CHECK CONSTRAINT [FK__Agreement__Agree__07C12930]
GO
ALTER TABLE [dbo].[AgreementRates]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Agree__09A971A2] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[AgreementInfo] ([AgreementID])
GO
ALTER TABLE [dbo].[AgreementRates] CHECK CONSTRAINT [FK__Agreement__Agree__09A971A2]
GO
ALTER TABLE [dbo].[AgreementServices]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Agree__08B54D69] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[AgreementInfo] ([AgreementID])
GO
ALTER TABLE [dbo].[AgreementServices] CHECK CONSTRAINT [FK__Agreement__Agree__08B54D69]
GO
ALTER TABLE [dbo].[AgreementTaxes]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Agree__0A9D95DB] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[AgreementInfo] ([AgreementID])
GO
ALTER TABLE [dbo].[AgreementTaxes] CHECK CONSTRAINT [FK__Agreement__Agree__0A9D95DB]
GO
ALTER TABLE [dbo].[AgreementUnits]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__Agree__05D8E0BE] FOREIGN KEY([AgreementID])
REFERENCES [dbo].[AgreementInfo] ([AgreementID])
GO
ALTER TABLE [dbo].[AgreementUnits] CHECK CONSTRAINT [FK__Agreement__Agree__05D8E0BE]
GO
ALTER TABLE [dbo].[AgreementUnits]  WITH CHECK ADD  CONSTRAINT [FK__Agreement__UnitI__06CD04F7] FOREIGN KEY([UnitID])
REFERENCES [dbo].[LocationMapUnit] ([UnitID])
GO
ALTER TABLE [dbo].[AgreementUnits] CHECK CONSTRAINT [FK__Agreement__UnitI__06CD04F7]
GO
ALTER TABLE [dbo].[LocationMapLevel]  WITH CHECK ADD FOREIGN KEY([BuildingID])
REFERENCES [dbo].[LocationMapBuilding] ([BuildingID])
GO
ALTER TABLE [dbo].[LocationMapLevel]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[LocationMapLevel] ([LevelID])
GO
ALTER TABLE [dbo].[LocationMapUnit]  WITH CHECK ADD  CONSTRAINT [FK__LocationM__Paren__7D439ABD] FOREIGN KEY([ParentLevelID])
REFERENCES [dbo].[LocationMapLevel] ([LevelID])
GO
ALTER TABLE [dbo].[LocationMapUnit] CHECK CONSTRAINT [FK__LocationM__Paren__7D439ABD]
GO
ALTER TABLE [dbo].[LocationMapUnitMeterMapping]  WITH CHECK ADD FOREIGN KEY([MeterID])
REFERENCES [dbo].[MasterDataMeters] ([MeterID])
GO
ALTER TABLE [dbo].[LocationMapUnitTenantMapping]  WITH CHECK ADD FOREIGN KEY([TenantID])
REFERENCES [dbo].[TenantInfo] ([TenantID])
GO
ALTER TABLE [dbo].[LocationMapUnitTenantMapping]  WITH CHECK ADD  CONSTRAINT [FK__LocationM__UnitI__7F2BE32F] FOREIGN KEY([UnitID])
REFERENCES [dbo].[LocationMapUnit] ([UnitID])
GO
ALTER TABLE [dbo].[LocationMapUnitTenantMapping] CHECK CONSTRAINT [FK__LocationM__UnitI__7F2BE32F]
GO
ALTER TABLE [dbo].[LocationMapUnitUserMapping]  WITH CHECK ADD  CONSTRAINT [FK__LocationM__UnitI__7E37BEF6] FOREIGN KEY([UnitID])
REFERENCES [dbo].[LocationMapUnit] ([UnitID])
GO
ALTER TABLE [dbo].[LocationMapUnitUserMapping] CHECK CONSTRAINT [FK__LocationM__UnitI__7E37BEF6]
GO
ALTER TABLE [dbo].[LocationMapUnitWorkingHours]  WITH CHECK ADD FOREIGN KEY([UnitID])
REFERENCES [dbo].[LocationMapUnit] ([UnitID])
GO
ALTER TABLE [dbo].[MasterDataMeters]  WITH CHECK ADD FOREIGN KEY([ServiceType])
REFERENCES [dbo].[MasterDataServices] ([ServiceID])
GO
ALTER TABLE [dbo].[MasterDataRateTypes]  WITH CHECK ADD FOREIGN KEY([ServiceType])
REFERENCES [dbo].[MasterDataServices] ([ServiceID])
GO
ALTER TABLE [dbo].[MasterDataRateTypeValues]  WITH CHECK ADD FOREIGN KEY([Rate])
REFERENCES [dbo].[MasterDataRateTypes] ([RateID])
GO
ALTER TABLE [dbo].[MasterDataTaxTypeValues]  WITH CHECK ADD FOREIGN KEY([Tax])
REFERENCES [dbo].[MasterDataTaxTypes] ([TaxID])
GO
USE [master]
GO
